In [4]:
%pip install pandas plotly numpy matplotlib --user

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.1.1)
Requirement already satisfied: plotly in c:\python311\lib\site-packages (5.17.0)
Requirement already satisfied: numpy in c:\python311\lib\site-packages (1.26.0)
Collecting matplotlib
  Obtaining dependency information for matplotlib from https://files.pythonhosted.org/packages/40/d9/c1784db9db0d484c8e5deeafbaac0d6ed66e165c6eb4a74fb43a5fa947d9/matplotlib-3.8.0-cp311-cp311-win_amd64.whl.metadata
  Using cached matplotlib-3.8.0-cp311-cp311-win_amd64.whl.metadata (5.9 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\danil\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\python311\lib\site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in c:\users\danil\appdata\roaming\python\python311\site-packages (from plotly) (23.1)
Collecting contourpy>=1.0.1 (from matplotlib)
  Obtaining dependency information for contourpy>=1.0.1 from https://files.pythonhosted.org/packages/e5/76/94bc17eb868f8c7397f8fdfdeae7661c1b9a35f3a7219da308596e8c252a/contourpy-1.1.1-cp311-cp311-win_amd64.whl.metadata
  Using cached contourpy-1.1.1-cp311-cp311-win_amd64.whl.metadata (5.9 kB)
Collecting cycler>=0.10 (from matplotlib)
  Obtaining dependency information for cycler>=0.10 from https://files.pythonhosted.org/packages/2b/b3/70c33027c4918c10ccf176014b38f8b91cb18ac018a78854543a4fc72609/cycler-0.12.0-py3-none-any.whl.metadata
  Using cached cycler-0.12.0-py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: fonttools>=4.22.0 in c:\python311\lib\site-packages (from matplotlib) (4.43.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python311\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: pillow>=6.2.0 in c:\python311\lib\site-packages (from matplotlib) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python311\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: six>=1.5 in c:\users\danil\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached matplotlib-3.8.0-cp311-cp311-win_amd64.whl (7.6 MB)
Using cached contourpy-1.1.1-cp311-cp311-win_amd64.whl (480 kB)
Using cached cycler-0.12.0-py3-none-any.whl (8.2 kB)
Installing collected packages: cycler, contourpy, matplotlib
Successfully installed contourpy-1.1.1 cycler-0.12.0 matplotlib-3.8.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import plotly.figure_factory as ff

In [16]:
data = pd.read_csv("base_data_preproc.csv")

In [3]:
data.head()

,Unnamed: 0,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

In [5]:
data["Unnamed: 0"].head()

0    0
1    1
2    2
3    3
4    4
Name: Unnamed: 0, dtype: int64

In [20]:
data = data.columns.drop("Unnamed: 0")

ValueError: Length mismatch: Expected axis has 21525 elements, new values have 12 elements

,Unnamed: 0,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

AttributeError: 'Index' object has no attribute 'head'